%% -*- erlang -*-
%% Config file for exoweb application.
{sub_dirs, ["src"]}.
{deps_dir, ["deps"]}.
{deps,
 [{wse, ".*", 
   {git, 
    "git://github.com/tonyrog/wse.git", 
    {branch,master}}},
  {exodmapi,".*",
   {git,
    "git@github.com:Feuerlabs/exodmapi",
    {branch,master}}},
  {exo,".*",
   {git,
    "git://github.com/Feuerlabs/exo",
    {branch,master}}},
  {gen_smtp,".*",
   {git,
    "git://github.com/Vagabond/gen_smtp",
    {branch,master}}},
  {lager,".*",
   {git,"git://github.com/basho/lager",
    {branch,master}}}
 ]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}. %% do not forget warnings_as_errors
{xref_checks, [exports_not_used, undefined_function_calls]}.


				   
