%% -*- mode: erlang -*-
%% Config file for the exoweb application
[
    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},

 %% Lager config, see lager documentation
    {lager, 
	[{handlers, 
	    [{lager_console_backend, debug},
		{lager_file_backend,
		    [{"log/lager/error.log", error, 10485760, "$D0", 5},
			{"log/lager/console.log", info, 10485760, "$D0", 5}]}]}
    ]},
 
    {gettext, 
	[{callback_mod, exoweb}
    ]},

    {sync,[

        %% growl: Desktop notifications
        %% valid values: all | none | [success | warning | error]
        %% default: all
        {growl, all},
        
        %% log: Console notifications
        %% valid values: all | none | [success | warnings | errors]
        %% default: all
        {log, all},    
                       
        %% non_descendant: How to handle beams whose original source path is
        %% not a descendant of the current working directory.
        %%
        %% valid values: fix | allow | ignore
        %% * fix = attempt to find source files under current directory
        %% * allow = don't do anything special, use the non-descendant path and
        %%   watch that file
        %% * ignore = don't watch that module at all and ignore any changes to
        %%   its source path
        %% default: fix
        {non_descendant, fix},

        %% excluded_modules: Ignore any modules listed
        %% default: []
        {excluded_modules, []},

        %% executable: Identify the program that you want run by the "growl" notifications
        %% valid values: auto | notifu | 'notify-send' | growlnotify | emacsclient
        %% * auto = allow sync to autodetect which program to run
        %% * growlnotify = Use Growl for Mac
        %% * 'notify-send' = Use libnotify for Linux
        %% * notifu = The notifu program for Windows
        %% * emacsclient = Emacs notifications
        %% default: auto
        {executable, auto}
    ]}, 

    {exoweb, [
	{ip, {127,0,0,1}},
	{port, 8181},
	{servername, "localhost"},
	{log_dir, "./log"},
	{doc_root, "./www"},
	{external_hostname, "localhost"},
	{template, "./templates/grid.html"},
	{cookie_expiration_time, 360},
	%% exodm set up
	{exodm_url, "https://localhost:8000/exodm/rpc"},
	{exodm_user, "exodm-admin"},
	{exodm_password, ""},
	{exodm_from, "Feuerlabs Inc."},
	{exodm_email, ""},
	%% smtp set up
	{smtp_relay, ""},
	{smtp_user, ""},
	{smtp_password, ""},
	{smtp_port, 25},
	%%{smtp_port, 465},
	{smtp_ssl, false},
	{smtp_tls, if_available},
	{smtp_auth, if_available}
	%%{smtp_ssl, true},
	%% wse setup
    ]}
].

