<div class="tab" ng-controller="AddDeviceCtrl">
  <form action="" method="post" name="addform" class="edit-form" 
	id="addform">
  <table>
    <tr> 
      <td>Device id: </td> 
      <td><input name="device.did" placeholder="Device id" type="text"
		 class="text-input" required
		 ng-model="device.did" /></td>
    </tr>
    <tr> 
      <td>Server Key: </td>
      <td><input name="device.skey" placeholder="Server Key" type="text"
		 class="text-input" required
		 ng-model="device.skey"/></td>
    </tr>
    <tr> 
      <td>Device Key:</td>
      <td><input name="device.dkey" placeholder="Device Key" type="text"
		 class="text-input" required
		 ng-model="device.dkey" /></td>
    </tr>
    <tr> 
      <td>MSISDN:</td>
      <td><input name="device.msisdn" placeholder="MSISDN" type="tel" 
		 class="text-input" 
		 ng-model="device.msisdn" /></td>
    </tr>
  </table> 
  <input name="add" class="button-input" 
	 id="add" value="Add" ng-click="add(device)" />
</form>
</div>

