<div class="tab" ng-controller="AddDeviceCtrl">
  <form action="" method="post" name="addform" class="edit-form" 
	id="addform">
  <table>
    <tr> 
      <td>Device id: </td> 
      <td><input name="did" placeholder="Device id" type="text"
		 ng-model="device.did" value="{{deviceid}}"/></td>
    </tr>
    <tr> 
      <td>Server Key: </td>
      <td><input name="skey" placeholder="Server Key" type="text"
		 ng-model="device.skey" value="{{serverkey}}"/></td>
    </tr>
    <tr> 
      <td>Device Key:</td>
      <td><input name="dkey" placeholder="Device Key" type="text"
		 ng-model="device.dkey" value="{{devicekey}}" /></td>
    </tr>
    <tr> 
      <td>Ms Isdn:</td>
      <td><input name="msisdn" placeholder="Ms Isdn" type="text" 
		 ng-model="device.msisdn" value="{{msisdn}}"/></td>
    </tr>
  </table> 
  <input name="add" type="submit" class="button-input" 
	 id="add" value="Add" ng-click="add(device)" />
</form>
</div>

