<div class="tab" ng-controller="AddUserCtrl">
  <form name="adduser" class="edit-form" novalidate >
  <table>
    <tr> 
      <td>Name: </td> 
      <td><input name="user.name" placeholder="User name" type="text" 
		 class="text-input" required
		 ng-model="user.name"/></td>
    </tr>
    <tr> 
      <td>Email: </td>
      <td><input name="user.email" placeholder="Email" type="email"
		 class="text-input" required
		 ng-model="user.email"/></td>
    </tr>
    <tr>
      <td>Password: </td>
      <td><input name="user.password" placeholder="password" type="password" 
		 class="text-input" id="password" ng-model="user.password" 
		 required ng-minlength="6"/>
      </td>
    </tr>
    <tr>
      <td>Confirm Password: </td>
      <td> <input name="user.confirmpassword" placeholder="confirm password" 
		  type="password" class="text-input" id="confirmpassword" 
		  ng-model="user.confirmpassword" required ng-minlength="6"/>
      </td>
    </tr>
    <tr> 
      <td>Phone:</td>
      <td><input name="user.phone" placeholder="Phone number" type="tel"
		 class="text-input" 
		 ng-model="user.phone" /></td>
    </tr>
   <tr> 
      <td>Role:</td>
      <td><select required ng-model="user.role" class="text-input"
		  ng-options="role for role in roles"
		  ng-init="user.role"/></td>
    </tr>
  </table> 
  <input name="add" class="button-input" type="button"
	 id="add" value="Add" ng-click="add(user)" 
	 ng-disabled="adduser.$invalid || !passwordConfirmed(user)"/>
</form>
</div>

