<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="device-id">Alphabetical</option>
        <option value="msisdn">Phone</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

    <table class="devices">
      <tr ng-repeat="device in devices | filter:query | orderBy:orderProp">
        <td><p>{{device.device-id}}</p></td>
        <td><p>{{device.device-type}}</p></td>
        <td><p>{{device.msisdn}}</p></td>
      </tr>
    </table>

    </div>
  </div>
</div>
