<div class="tab" ng-controller="EditUserCtrl">
  <form name="edituser" class="edit-form" novalidate >
    <toggle-switch ng-model="edit.mode" 
		   knob-label="Edit mode"
		   ng-change="editModeChange(edit)">
    </toggle-switch>

  <table>
    <tr> 
      <td>Name: </td> 
      <td class="text-input" >{{user.name}} </td> 
    </tr>
    <tr> 
      <td>Email: </td>
      <td><input name="user.email" placeholder="Email" type="email" 
		 class="text-input" 
		 ng-model="user.email"/></td>
    </tr>
    <tr> 
      <td>Phone:</td>
      <td><input name="user.phone" placeholder="Phone number" type="tel" 
		 class="text-input" 
		 ng-model="user.phone"/></td>
    </tr>
    <tr> 
      <td>Role:</td>
      <td><select required ng-model="user.role" class="text-input">
	  <option ng-repeat="role in roles.list" 
		  ng-disabled="!selectable(role.name, user.role)"
		  value="{{role.name}}" >{{role.name}}</option>
	  </select></td>
    </tr>
  </table> 
  <div class="info-footer">
    <div class="buttons">
    <input name="save" class="button-input" type="button"
	   id="save" value="Save" ng-click="update(user)" 
	   ng-disabled="(buttonsEnabled==false) || edituser.$invalid" />
    <input name="passwordchange" class="button-input" type="button"
	   id="passwordchange" value="Change Password" ng-click="open()"
	   ng-disabled="buttonsEnabled==false" />
    <br/>
    <input name="delete" class="danger-button-input" type="button"
	   id="save" value="Delete" ng-click="remove(user)"
	   ng-disabled="buttonsEnabled==false" />
    </div>
  </div>
</form>
</div>

