<div class="tab" ng-controller="EditTabCtrl">
  Not fully implemented yet!!
  <form action="" method="post" name="editform" class="edit-form" 
	id="editform">
  <table>
    <tr> 
      <td>Device id: </td> 
      <td>{{deviceid}} </td> 
    </tr>
    <tr> 
      <td>Server Key: </td>
      <td><input name="skey" placeholder="Server Key" type="text"
		 value="{{serverkey}}" ng-model="device.skey" /></td>
    </tr>
    <tr> 
      <td>Device Key:</td>
      <td><input name="dkey" placeholder="Device Key" type="text"
		 value="{{devicekey}}" ng-model="device.dkey" /></td>
    </tr>
    <tr> 
      <td>Ms Isdn:</td>
      <td><input name="msisdn" placeholder="Ms Isdn" type="text" 
		 value="{{msisdn}}" ng-model="device.msisdn"/></td>
    </tr>
    <tr> 
      <td>Status:</td> 
      <td>{{status}}</td>
    </tr>
  </table> 
  <input name="connect" type="checkbox" 
	 ng-model="device.connect" />
  Connect</br>
  Events in queue: {{inqueue}}</br>
  <input name="deletequeue" type="checkbox" 
	 ng-model="device.deletequeue" />
  Delete all events in queue
  <p style="color: #ff0000">
    <input name="deletedevice " type="checkbox" 
	   ng-model="device.deletedevice" />
    Delete this device</p></br>
  <input name="save" type="submit" class="button-input" 
	 id="save" value="Save" ng-click="update(device)" />
</form>
</div>

