<div class="tab" ng-controller="EditDeviceCtrl">
  <form action="" method="post" name="editform" class="edit-form" 
	id="editform">
    <toggle-switch ng-model="edit.mode" 
		   knob-label="Edit mode"
		   ng-change="editModeChange(edit)">
    </toggle-switch>

  <table>
    <tr> 
      <td>Device id: </td> 
      <td class="text-info">{{device.did}} </td> 
    </tr>
    <tr> 
      <td>Server Key: </td>
      <td><input name="device.skey" placeholder="Server Key" type="text"
		 class="text-input" required
		 ng-model="device.skey" /></td>
    </tr>
    <tr> 
      <td>Device Key:</td>
      <td><input name="device.dkey" placeholder="Device Key" type="text"
		 class="text-input" required
		 ng-model="device.dkey"  /></td>
    </tr>
    <tr> 
      <td>MSISDN:</td>
      <td><input name="device.msisdn" placeholder="MSISDN" type="tel" 
		 class="text-input" 
		 ng-model="device.msisdn" ></td>
    </tr>
    <tr> 
      <td>Status:</td> 
      <td class="text-info">{{device.status}}</td>
    </tr>
  </table> 
  <p>Events in queue: <span class="text-input">{{inqueue}} </span></p>
  <input name="save" type="submit" class="button-input" 
	 id="save" value="Save" ng-click="update(device)"
	 ng-disabled="buttonsEnabled==false" />
  <input name="connect" type="submit" class="button-input" 
	 id="connect" value="Connect" ng-click="connect(device)"
	 ng-disabled="buttonsEnabled==false" />
  <input name="deletequeue" type="submit" class="button-input" 
	 id="deletequeue" value="Empty Queue" ng-click="deletequeue(device)"
	 ng-disabled="buttonsEnabled==false" />
  <br/>
  <input name="delete" type="submit" class="danger-button-input" 
	 id="delete" value="Delete" ng-click="remove(device)" 
	 ng-disabled="buttonsEnabled==false" />
</form>
</div>

