<div class="tab" ng-controller="EditUserCtrl">
  <form action="" method="post" name="editform" class="edit-form" 
	id="editform">
  <table>
    <tr> 
      <td>Name </td> 
      <td class="text-input" >{{username}} </td> 
    </tr>
    <tr> 
      <td>Email: </td>
      <td><input name="email" placeholder="Email" type="text" 
		 class="text-input" 
		 ng-model="user.email" value="{{email}}"/></td>
    </tr>
    <tr>
     <td>Password: </td>
     <td><input name="password" placeholder="password" type="password"  
		class="text-input" 
		id="password" ng-model="user.password" 
		required ng-minlength="6"/>
     </td>
    </tr>
    <tr>
      <td>Confirm Password: </td>
      <td><input name="confirmpassword" placeholder="confirm password"  
		 class="text-input" 
		 type="password" id="confirmpassword" 
		 ng-model="user.confirmpassword" required ng-minlength="6"/>
      </td>
    </tr>
    <tr> 
      <td>Phone:</td>
      <td><input name="phone" placeholder="Phone" type="text" 
		 class="text-input" 
		 ng-model="user.phone" value="{{phone}}" /></td>
    </tr>
    <tr> 
      <td>Role:</td>
      <td><select name="role" required ng-model="user.role" 
		  ng-options="role for role in roles"
		  ng-init="view"/></td>
    </tr>
  </table> 
  <p style="color: #ff0000">
    <input name="deleteuser " type="checkbox" class="checkbox-input"
	   ng-model="user.deleteuser" />
    Delete this user</p></br>
  <input name="save" type="submit" class="button-input" 
	 id="save" value="Save" ng-click="update(user)"
	 ng-disabled="editform.$invalid || !passwordConfirmed(user)" />
</form>
</div>

