<div class="tab" ng-controller="EditUserCtrl">
  <form action="" method="post" name="editform" class="edit-form" 
	id="editform">
  <table>
    <tr> 
      <td>Name: </td> 
      <td class="text-input" >{{user.name}} </td> 
    </tr>
    <tr> 
      <td>Email: </td>
      <td><input name="user.email" placeholder="Email" type="text" 
		 class="text-input" 
		 ng-model="user.email"/></td>
    </tr>
    <tr> 
      <td>Phone:</td>
      <td><input name="user.phone" placeholder="Phone number" type="tel" 
		 class="text-input" 
		 ng-model="user.phone"/></td>
    </tr>
    <tr> 
      <td>Role:</td>
      <td><select required ng-model="user.role" class="text-input"
		  ng-init="user.role">
	  <option ng-repeat="role in filter.roles" 
		  ng-disabled="!role.selectable"
		  value="{{role.name}}" >{{role.name}}</option>
	  </select></td>
    </tr>
  </table> 
  <div class="info-footer">
    <div class="buttons">
    <input name="save" type="submit" class="button-input" 
	   id="save" value="Save" ng-click="update(user)" />
    <input name="passwordchange" type="submit" class="button-input" 
	   id="passwordchange" value="Change Password" ng-click="open()" />
    <br/>
    <input name="delete" type="submit" class="danger-button-input" 
	   id="save" value="Delete" ng-click="remove(user)" />
    </div>
  </div>
</form>
</div>

