<div class="header" id="header" style="background-color: #dddddd" 
     valign="top" align="left">
  <div class="logo" id="logo" align="left">
    <image src="img/feuerlabs.png"></image>
    <div align="left" style="margin-left: 20px">
      <p>Connecting the 'internet of Things'</p>
    </div>
  </div>
</div>

<div class="exosense-logo" id="exosense-logo">ExoSense</div>

<div class="action-text" id="action-text">Log in</div>
<div ng-controller="LoginCtrl">
  <form action="" method="post" name="loginform" class="action-form" 
	id="loginform">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2" align="center">
	  <input name="name" placeholder="name" type="text" 
		 class="text-input" ng-model="user.name" 
		 required id="loginname" value="{{name}}"/>
	</td>
      </tr>
      <tr>
        <td colspan="2" align="center">
	  <input name="password" placeholder="password" type="password" 
		 class="text-input" ng-model="user.password" 
		 required ng-minlength="6" id="password" />
	</td>
      </tr>
      <tr>
        <td align="center">
	  <a href="#/signup">or Sign up</a>
	</td>
        <td align="center">
	  <input name="login" type="submit" class="button-input" 
		 id="login" value="Log in" 
		 ng-click="login(user)" ng-disabled="loginform.$invalid"/>
	</td>
      </tr>
    </table>
  </form>
  <div class="push"></div>
</div>
<div class="footer" id="footer">
  <hr/>
  <div style="margin-left: 10%">
    <table>
      <tr>
	<td><image src="img/icon-fb.png"/></td>
	<td><image src="img/icon-tw.png"/></td>
	<td><image src="img/icon-in.png"/></td>
	<td style="width: 200px;"><p>Feuerlabs inc. 2014</p></td>
      </tr>
    </table>
  </div>
</div>

