<div class="ngdialog-message" ng-controller="UserPassCtrl">
      <form action="" name="editform" class="edit-form" 
	    id="editform">
	<table>
	  <tr> 
	    <td>Name </td> 
	    <td class="text-input" >{{user.name}} </td> 
	  </tr>
	  <tr>
	    <td>Password: </td>
	    <td><input name="user.password" placeholder="password" type="password"  
		       class="text-input" required
		       id="password" ng-model="user.password" 
		       ng-minlength="6"/>
	    </td>
	  </tr>
	  <tr>
	    <td>Confirm Password: </td>
	    <td><input name="user.confirmpassword" placeholder="confirm password"  
		       class="text-input" required
		       type="password" id="confirmpassword" 
		       ng-model="user.confirmpassword" ng-minlength="6"/>
	    </td>
	  </tr>
	</table> 
	<input name="save" class="button-input" 
	       id="save" value="Save" ng-click="changepassword(user)"
	       ng-disabled="editform.$invalid || !passwordConfirmed(user)" />
      </form>
</div>


