<div class="header" id="header" style="background-color: #dddddd" 
     valign="top" align="left">
  <div class="logo" id="logo" align="left">
    <image src="img/feuerlabs.png"></image>
    <div align="left" style="margin-left: 20px">
      <p>Connecting the 'internet of Things'</p>
    </div>
  </div>
</div>

<div class="content-night" id="content-night">
  <div class="action-text" id="action-text">Sign up</div>
  <div ng-controller="ApplyCtrl">
    <form action="" method="post" name="signupform" class="action-form" 
	  id="signupform">
      <table border="0" cellpadding="0" cellspacing="0">
	<tr>
          <td colspan="2" align="center">
	    <input name="email" placeholder="email" type="text" 
		   class="text-input" id="email" ng-model="user.email" 
		   required/>
	  </td>
	</tr>
	<tr>
          <td colspan="2" align="center">
	    <input name="password" placeholder="password" type="password" 
		   class="text-input" id="password" ng-model="user.password" 
		   required ng-minlength="6"/>
	  </td>
	</tr>
	<tr>
          <td colspan="2" align="center">
	    <input name="confirmpassword" placeholder="confirm password" 
		   type="password" class="text-input" id="confirmpassword" 
		   ng-model="user.confirmpassword" required ng-minlength="6"/>
	  </td>
	</tr>
	<tr>
          <td align="center">
	    <a href="#/login">or Log in</a>
	  </td>
          <td align="center">
	    <input name="signup" type="submit" class="button-input" 
		   id="signup" value="Sign up" ng-click="apply(user)" 
		   ng-disabled="signupform.$invalid || !passwordConfirmed(user)"/>
	  </td>
	</tr>
      </table>
    </form>
  </div>
</div>

<div class="footer-night" id="footer-night">
  <hr/>
  <div style="margin-left: 10%">
    <table>
      <tr>
	<td><image src="img/icon-fb.png"/></td>
	<td><image src="img/icon-tw.png"/></td>
	<td><image src="img/icon-in.png"/></td>
	<td style="width: 200px;"><p>Feuerlabs inc. 2014</p></td>
      </tr>
    </table>
  </div>
</div>

