<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      
      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <p>No users yet</p>
      <table class="users">
	<tr ng-repeat="user in users | filter:query | orderBy:orderProp" 
	    class="thumbnail user-listing">
          <td><a href="#/users/{{user.id}}" class="thumb">
	      <img ng-src="{{user.imageUrl}}"></a></td>
          <td><a href="#/users/{{user.id}}">{{user.name}}</a></td>
          <td><p>{{user.snippet}}</p></td>
	</tr>
      </table>
      
    </div>
  </div>
</div>
